<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="height=device-height,width=600,user-scalable=yes">
  <title>J-Travel-Nepal</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="iceland.css">
</head>

<body>
    <main> <!--Main DIV-->
        <header>
            <h1>J-Travel</h1>
            <a id = "btn1"class="btn btn-primary btn-lg" href="main.html" role="button">Повернутись на головну</a>
            <a id = "btn2"class="btn btn-secondary btn-lg" href="main.html" role="button">Про нас</a>
        </header>
        <div id="block2">
          <h1 class="blockh1">Непал</h1>
          <p class="block-p">Трекінг до Евересту - це неймовірна подорож до підніжжя найвищої гори нашої планети. Ви познайомитеся з незвичайною природою Непалу і зміните кілька кліматичних поясів за час трекінгу до Евересту, побуваєте в столиці високогірного народу шерпів, які, завдяки своїй витривалості, до цього дня допомагають альпіністам підніматися на Еверест. 

            Під час трекінгу в Непалі вас чекають стародавні храми, самобутня культура і безліч відкриттів, які допоможуть вам пізнати світ і себе. Величні Гімалаї ви запам'ятаєте надовго, а в дивовижний Непал обов'язково захочете повернутися ще раз, адже в цю країну і в її гори легко закохатися, і ця любов на все життя :) 
            
            Ми пройдемо близько 150 км і побачимо такі чудові місця: Катманду - Лукла (2827 метрів) - Намче-Базар (3440 метрів) - Дінгбоче (4349 метрів) - льодовикове озеро Імджа-Цо (5005 метрів, радіально) - Лобуче (4930 метрів) - Горакшеп (5175 метрів) - гора Кала-Патар (5648 метрів) - Базовий табір Евересту (5289 метрів) - Феріча (4240 метрів) - Намче-Базар (3440 метрів) - Лукла (2827 метрів) - Катманду 
            
            Старт: Катманду до 22:00 
            Фініш: Катманду після 19:00</p>
            <h2 class="blockh1">День 1</h2>
            <p class="block-p">Сьогодні саме той день, коли більшість учасників потрапить в Катманду, і формально почнеться наш трекінг до Евересту. Якщо пощастить з місцями в літаку і буде ясна погода, вже на підльоті до столиці Непалу можна буде милуватися Гімалаями і Еверестом (якщо ви зможете його відшукати серед засніжених вершин). 

                Після посадки вас чекає відносно швидка процедура отримання непальської візи, пошуки свого багажу і галасливе місто. Попереду буде калейдоскоп всіляких емоцій, особливо якщо це буде ваше перше знайомство з Азією :) 
                
                Після поселення в готелі ми трохи прогуляємося по туристичній Мецці Катманду - районі Тамеле, в якому живе більшість туристів, що приїхали до Непалу. У Тамеле можна буде докупити спорядження, хоча оригінальне спорядження в Непалі коштує не дешево. 
                
                Повечеряємо в одному з місцевих ресторанів, попутно знайомлячись і ділячись першими враженнями про Непал. Спати підем раніше, адже вже завтра ми вирушимо в гори і почнеться наш трекінг в Непалі.</p>
              <h2 class="blockh1">День 2</h2>
              <p class="block-p">Трек 11 км, ↑ 150 м, ↓200 м 
                Прокинемося рано, щоб встигнути зібратися перед початком трекінгу до Евересту. Зайві речі (одяг для міста) можна буде залишити в готелі, полегшивши свій рюкзак, багаж до Лукла не повинен важити більше 10 кг + 5 кг з собою в салон. 
                
                А далі нас чекає переїзд в аеропорт, очікування свого рейсу і політ до Лукла. Цю злітно-посадкову смугу ви, швидше за все, вже десь бачили, але вживу вона виглядає особливо вражаюче. Починаючись біля скелі, вона під кутом тікає до краю прірви. Посадка триває лічені хвилини, але спогади про неї залишаються на все життя. 
                
                Як би там не було, а перебувати ми будемо в стартовій точці маршруту до Базового табору Евересту, одним махом набравши висоту 2800 метрів (цілком можливо, що деякі з вас будуть на цій висоті вперше). Попереду буде захоплюючий трекінг до Евересту, а позаду галасливе місто і дорожні клопоти. 
                
                Перехід до непальського села Пакдінг займе кілька годин, так що у нас буде час на знайомство з непальської флорою і фауною. Буйна рослинність і гірські пейзажі допоможуть налаштуватися на похідний лад, поступово привчаючи організм до майбутніх навантажень на шляху до Базового табору Евересту. 
                
                Ночувати будемо в лоджії - невеликому кам'яному будиночку, що складається з декількох кімнат з постояльцями, їдальнею і госп. приміщеннями. Тут же будемо і харчуватися, в чому основна перевага трекінгу в Непалі (не потрібно тягнути з собою продукти і зайве спорядження). Цей факт робить доступним Базовий табір Евересту для величезної кількості людей, які прилітають в Непал зі всіх кінців світу.
                
                
              </p>
              <h2 class="blockh1">День 3</h2>
              <p class="block-p">Трек 11 км, ↑ 800 м, ↓150 м 
                Прокинемося раніше, адже в горах не прийнято довго спати. Та й йти вранці легше, не кажучи вже про погоду, яка в Непалі може зіпсуватися в другій половині дня. 
                
                На сьогодні у нас запланований істотний набір висоти, це буде перший повноцінний день трекінгу до Евересту. Попереду буде Національний парк Сагарматха (одна з назв Евересту), куди ми і будемо прямувати. 
                
                Біля входу в Національний парк Сагарматха ми реєструватимемося і офіційно почнемо наш трекінг до Базового табору Евересту. Попереду нас чекатиме столиця шерпів - Намче-Базар, несподіваний оазис цивілізації в практично безлюдних горах Непалу. 
                
                У Намче-Базар ми потрапимо після обіду, поселимося в одній з численних лодж і трохи прогуляємося вгору по схилу перед вечерею, щоб організму було легше звикнути до висоти, адже ми піднімемося на висоту майже 3500 метрів. 
                
                Увечері в галасливій їдальні поспілкуємося з іншими трекерами, які йдуть до Базового табору Евересту, або вже повертаються назад. Увечері можна буде ще трохи погуляти по Намче-Базару і навіть докупити спорядження, якщо ви раптом щось забули (наприклад, теплу куртку, або непальску шапку).
                </p>
                <h2 class="blockh1">День 4</h2>
                <p class="block-p">Трек 7 км, ↑ 550 м, ↓550 м 
                    Щоб акліматизація пройшла максимально безболісно, ​​ми ще на один день затримаємося в Намче-Базарі, адже вчора ми набрали близько 800 метрів і йти вище вкрай не бажано (високий ризик достроково закінчити трекінг до Евересту). 
                    
                    Прокинутися постараємося якомога раніше, щоб встигнути поснідати і покинути гостинну лоджу до початку спеки. На сьогодні у нас запланований радіальний вихід в селище Кумджунг, що знаходиться вище по схилу. 
                    
                    У Кумджунзі в монастирі зберігається місцева визначна пам'ятка - скальп снігової людини (Йетті). Ця легенда буде мотивувати нас під час набору висоти, який дуже важливий для акліматизації. 
                    
                    Якщо буде ясна погода, зможемо побачити Еверест, який поки що буде недосяжною метою і буде ховатися за скелястими вершинами поменше. Але все ж це буде головна мета нашого трекінгу до Базового табору Евересту, побувати у підніжжі найвищої вершини на планеті Земля. 
                    
                    А ще сьогодні зможемо побачити одну з найкрасивіших гір Непалу - Ама Даблам, з якою нам ще належить познайомитися ближче найближчим часом. 
                    
                    Спускатися будемо не поспішаючи, розтягуючи задоволення. Увечері постараємося довго не засиджуватися і відправимося спати, щоб відновити сили і бути готовими до продовження нашого трекінгу в Непалі до заповітного Евересту.
                  
                  </p>
                  <h2 class="blockh1">День 5</h2>
                  <p class="block-p">Трек 14 км, ↑ 900 м, ↓400 м 
                    Вранці попрощаємося з уже рідною лоджією і вирушимо далі. Сьогодні буде насичений день з неймовірними краєвидами та культурною програмою, яка доповнить наш трекінг в Непалі новими враженнями. 
                    
                    Як це часто буває в горах, чим вище ти піднімаєшся, тим мальовничіші краєвиди. Ось і сьогодні у нас буде неймовірно видовий день. Уже знайома гора Ама Даблам буде, як магніт, притягувати наші погляди, на наших очах стаючи все живописнішою. Ми будемо повільно, але впевнено підніматися до монастиря Тенгбоче, який примостився на вершині невеликого гірського хребта. 
                    
                    У монастирі нас чекає побіжне знайомство з життям буддистських ченців, а якщо пощастить, ми станемо свідками служби. Монастир Тенгбоче вважається найбільшим в цьому регіоні Непалу, так що нам буде чим зайнятися. 
                    
                    Після знайомства з Тенгбоче ми постараємося пройти ще трохи далі і зупинимося на нічліг недалеко від галасливої ​​річки. Перед сном зробимо невеликий радіальний вихід вище за течією, щоб висота переносилася трохи легше, адже ми будемо не далеко від позначки 4000 метрів.
                    
                    
                    
                    </p>
                    <h2 class="blockh1">День 6</h2>
                    <p class="block-p">Трек 9 км, ↑ 700 м, ↓250 м 
                        З цього дня почнеться найбільш відповідальна частина трекінгу до Евересту, коли нам потрібно буде прокидатися раніше і намагатися вийти на маршрут рано вранці. Якщо до 4000 метрів організм часто нормально переносить зменшення кількості кисню в повітрі, вище 4000 метрів без грамотної акліматизації ніяк. 
                        
                        Ранній вихід дозволяє зменшити вплив сонця, яке з набором висоти буде ставати активніше. Саме тому сонцезахисний крем вкрай важливий в Непалі, як і панамка з широким козирком + захищає шию баф. 
                        
                        Нашою метою буде селище Дінгбоче на висоті близько 4400 метрів, дійти до якого можна за 1,5-2 години. Але нам поспішати нікуди, та й нема чого зайвий раз перевантажувати наше серце. Так йти ми будемо повільно, але впевнено, споглядаючи небачені види, які будуть з усіх боків оточувати нас. 
                        
                        До цього часу вже закінчиться непальський ліс, і схили буде вкривати суха трава і рідкісні чагарники. На нашому шляху до Базового табору Евересту будуть зрідка попадатися каравани навантажених яків і групи трекерів. 
                        
                        У Дінгбоче потрапимо ближче до обіду, після чого постараємося зробити радіальний вихід вище в гори, щоб ніч була спокійною, а наші організми краще усвідомили всю відповідальність моменту і швидше звикали до трохи ворожого середовища. 
                        
                        А в іншому все буде прекрасно, навколо будуть дивовижні гори, що підпирають небо, десь далеко внизу залишаться галасливі міста і втомлююча цивілізація зі своїми правилами, обмеженнями і стереотипами. Гори якнайкраще очищають мозок від непотрібного сміття і розставляють все по своїх місцях.</p>
                      <h2 class="blockh1">День 7</h2>
                      <p class="block-p">
                        
                        Трек 17 км, ↑ 650 м, ↓650 м 
Цілком можливо, що ніч буде неспокійною, адже висотна адаптація вимагає часу. Саме тому на сьогодні у нас запланований радіальний вихід без рюкзаків до села Чукунг і неспішне повернення назад. 

Багато в чому від сьогоднішнього дня залежить успішність нашого трекінгу до Евересту, адже, по суті, нам залишилось зовсім трішки до заповітної мети. Але якщо відправитися туди без належної підготовки, можна у всій красі відчути прояви висотної хвороби (гіпоксії). 

Чукунг знаходиться трохи осторонь від традиційного маршруту в Базовий табір Евересту, але в не менше красивій долині з мальовничими краєвидами на вершини Лхоце (8410 метрів) і Нупце (7861 метр). А ще в долині є однойменне озеро на висоті близько 5500 метрів, до якого ми постараємося сходити. 

В Дінгбоче повернемося втомленими, але вже підготовленими до майбутніх висот, так що спати ми повинні міцно. Якщо будуть сили, ввечері зможемо помилуватися зоряним небом, яке в Непалі просто всіяне зорями.</p>
                        <h2 class="blockh1">День 8</h2>
                        <p class="block-p">Трек 9 км, ↑ 850 м, ↓250 м 
                            Ми звернемо в сусідню долину і продовжимо наш трекінг до Базового табору Евересту, попереду буде підхід до зони снігів. Хоча ще вчора ми були вище, так що сніг не стане для нас сюрпризом. 
                            
                            Нас проводжатимуть вершини Табоче (6495 метрів) і Чолаце (6440 метрів), прямовисті скелясті стіни яких будуть у нас по ліву сторону. Ми будемо наближатися до льодовика Кхумбу, який повільно сповзає з Евересту в однойменну долину. 
                            
                            Ночувати сьогодні будемо в Лобуче, до якого повинні дістатися ближче до обіду. А щоб краще спалося, зробимо радіальний вихід в Горакшеп, останній гірський притулок не далеко від Базового табору Евересту. Або хоча б сходимо до перевалу Лобуче і трохи прогуляємося по схилу вгору, щоб прискорити адаптацію до висоти, адже ми впритул підберемося до 5000 метрів. 
                          
                          Інструктор може вносити зміни в маршрут в залежності від погоди, фізичного стану учасників та інших факторів.</p>
                          <h1 class="blockh1">Ціна туру - 2050$</h1>
       </div>
    </main>
