body{
    background-color: rgb(23, 51, 138);
}

header{
    background-image: url(фото/bali.jpg);
    background-size: contain;
    text-align: center;
    width: 680px;
    height: 346px;
    border: 6px solid #7922CC;
    border-radius: 25px;
    margin-top: 20px;
    margin-right: 300px;
    background-repeat: no-repeat;
    float: right ;
}
#btn1{
    margin-top: 220px;
    margin-right: 40px;
}
#btn2{
    margin-top: 220px;
}
#block1{
    background-color: rgb(11, 98, 156);
    text-align: center;
    height: 1050px;
    width: 350px;
    border: 6px solid #7922CC;
    border-radius: 25px;
    margin-left: 30px;
    margin-top: 20px;
    float: left;
}
#block2{
    background-color: rgb(207, 227, 240);
    height: 320px;
    width: 700px;
    border: 6px solid #7922CC;
    border-radius: 25px;
    margin-top: 40px;
    margin-right: 300px;
    float: right;
}
#block2-1{
    background-color: rgb(207, 227, 240);
    height: 320px;
    width: 700px;
    border: 6px solid #7922CC;
    border-radius: 25px;
    margin-top: 40px;
    margin-right: 300px;
    float: right;
}
#block3{ 
    background-image: url(фото/peru.jpeg);
    height: 200px;
    width: 200px;
    border: 6px solid #7922CC;
    border-radius: 50%;
    margin-left: 1200px;
    margin-top: 40px;
    text-align: center;
}
#block4{
    background-image: url(фото/norway.jpeg);
    height: 200px;
    width: 200px;
    border: 6px solid #7922CC;
    border-radius: 50%;
    margin-left: 1200px;
    margin-top: 40px;
    text-align: center;
    background-repeat: no-repeat;
}
#block5{
    background-image: url(фото/switzerland.jpeg);
    height: 190px;
    width: 190px;
    border: 6px solid #7922CC;
    border-radius: 50%;
    margin-left: 1200px;
    margin-top: 40px;
    text-align: center;
}
#block6{
    background-image: url(фото/iceland.jpg);
    height: 200px;
    width: 200px;
    border: 6px solid #7922CC;
    border-radius: 50%;
    margin-left: 1200px;
    margin-top: 40px;
    text-align: center;
}
#footer{
    background-color: rgb(188, 187, 233);
    width: 1300px;
    height: 246px;
    border: 6px solid #154411;
    border-radius: 25px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}
#work{
    float: right;
    padding-right: 200px;
    font-size: larger;
}
#contacts{
    float: left;
    padding-left: 200px;
    font-size: larger;
}
.footerh3{
    text-align: center;
}
li{
    color: white;
    font-size: 20px;
    padding-top: 30px;
}
.block1a{
    color: white;
}
.block1a:hover{
    color: blue;
}
#block1h1{
  color: azure;
  padding-top: 20px;
}
#block3h4{
    color: aqua;
    font-size: 2px;
}
.blockh1{
    text-align: center;
    padding-top: 10px;
}
.block-p{
    font-size: 16px;
    padding-left: 5px;
}
#block2btn1{
   margin-right: 10px;
   margin-bottom: 100px;
   float: right;
}
#block2btn2{
    margin-right: 10px;
    margin-bottom: 100px;
    float: right;
 }
 @media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} } 
 @media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} } 
 @media screen and (max-width: 992px) { div.contentblock {width: 970px;} } 
 