<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="height=device-height,width=600,user-scalable=yes">
  <title>J-Travel-Nepal</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='iceland.css')}}" rel = "stylesheet"/>
</head>

<body>
    <main> <!--Main DIV-->
        <header>
            <h1>J-Travel</h1>
            <a id = "btn1"class="btn btn-primary btn-lg" href="main.html" role="button">Повернутись на головну</a>
            <a id = "btn2"class="btn btn-secondary btn-lg" href="register.html" role="button">Зареєструватись</a>
        </header>
        <div id="block2">
          <h1 class="blockh1">Про нас</h1>
          <p class="block-p">Коли хочеться свята, а не «оце ось все». Коли твоя дуп.. душа бажає пригод 🙂

            Ні слова більше! Ми вже знаємо, що тобі потрібно. Немає ніяких секретних секретів і інноваційних інновацій. Ми просто чесно і з задоволенням робимо свою роботу, щоб надавати тобі найсмачніші варіанти активного відпочинку.
            
            Наш рецепт ідеальної подорожі простий: відсіюємо турботи і рутину, беремо економію часу, змішуємо з корисним досвідом, додаємо перевірені пропозиції і різноманітність вибору. Все це пакуємо в гарантію надійності і безпеки, а в якості вишеньки використовуємо своєчасну і професійну підтримку. Вуаля! Рекомендуємо вживати великими порціями без обмежень і протипоказань.
            
            Ну що, готовий дегустувати? Спробуй на смак справжні емоції. Подорожуй, випробовуй, насолоджуйся!
            
            
            P.S. FLIXESS попереджає: подорожі викликають залежність 🙂</p>