<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Виникла помилка</h1>
    <p>Список доступ url_адресі:</p>
    <ul>
        <li>
            /api/register (для реєстрації)
        </li>
        <li>
            /api/delete (для видалення)
        </li>
        <li>
            /api/excel (для роботи з ексель файлом)
        </li>
        <li>
            /api/student/int:id/edit (для редагування студента, int:id - його id  в бд)
        </li>
    </ul>
</body>
</html>