<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="height=device-height,width=600,user-scalable=yes">
  <title>J-Travel-Iceland</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='iceland.css')}}" rel = "stylesheet"/>
</head>

<body>
    <main> <!--Main DIV-->
        <header>
            <h1>J-Travel</h1>
            <a id = "btn1"class="btn btn-primary btn-lg" href="main.html" role="button">Повернутись на головну</a>
            <a id = "btn2"class="btn btn-secondary btn-lg" href="main.html" role="button">Про нас</a>
        </header>
        <div id="block2">
          <h1 class="blockh1">Ісландія</h1>
          <p class="block-p">Автомобільний тур по Ісландії - це відмінна можливість за 8 днів познайомитися з цією дивовижною країною і найбільшим островом вулканічного походження. Вас чекають нетерплячі гейзери і галасливі водоспади, безкраї льодовики і сплячі вулкани, морські котики і величезні кити, милі тупики та ще багато всього цікавого. 

            Автотур по Ісландії відмінно підійде тим, хто не хоче (або не може) подорожувати з рюкзаком, у кого немає можливості брати тривалу відпустку, але є бажання побачити величезну кількість пам'яток Ісландії. 
            
            Ми проїдемо близько 2000 км за таким маршрутом: Рейк'явік - водоспад Сельяландсфосс - водоспад Скогафосс - мис Дірхолаей - Вік (Чорний пляж, тупики) - Скафтафель (льодовик Ватнайокудль) - Льодовикова лагуна Йокульсаурлон - водоспад Деттіфосс - водоспад Сельфосс - озеро Миватн - озеро Віті - термальна печера Гротагья - кратер Хверфьял - лавові утворення Діммуборгір - геотермальна зона Хверір - Блакитна лагуна Північної Ісландії - Хусавік (Китове сафарі) - скеля Хвітсеркур - гора Кіркьюфель - Золоте кільце Ісландії (Національний пар Тінгвелір, водоспад Гюльфосс, гейзер Строккюр) - Хверагерди (термальні джерела) - Рейк'явік</p>
            <h2 class="blockh1">День 1</h2>
            <p class="block-p">Наш автомобільний тур по Ісландії почнеться з перельотів, трансферів і переїздів. Аскетична Ісландія зустріне освіжаючою погодою і безкрайніми просторами, адже тут не так багато дерев і завжди відмінний вид з вікна автомобіля, або автобуса. 

              Після трансферу з аеропорту в кемпінг ми трохи обживемося і підемо дивитися Рейк'явік, якщо прилетимо не надто пізно і ще будуть сили. Якщо пощастить з погодою, помилуємося неймовірним заходом, який в цих широтах здається нескінченним. 
              
              Увечері зберемося в кемпінгу і познайомимося ближче, попутно обговоривши плани на завтра. Різниця в часі візьме своє і ми вирушимо відпочивати після виснажливої ​​дороги в країну льодовиків, водоспадів і гейзерів з вулканами.</p>
              <h2 class="blockh1">День 2</h2>
              <p class="block-p">Трек 390 км, ↑ 100 м, ↓100 м 
                Прокинемося раніше, щоб встигнути все заплановане на сьогодні і побачити побільше красот Ісландії. День буде дуже насиченим, так що постараємося нічого не пропустити. 
                
                Залишивши позаду затишний Рейк'явік, ми будемо прямувати на схід, рухаючись по південному узбережжю Ісландії. І першою пам'яткою на сьогодні буде водоспад Сельяландсфосс, який можна обійти по колу. Трохи далі нас чекатиме ще один популярний водоспад Ісландії - Скогафосс. Цей водоспад вінчає цілий ланцюжок каскадних водоспадів на річці Скогар, витоки якої знаходяться быля льодовика, який вкриває той самий вулкан Ейяфьялайкуль (вивергався в 2010 році і паралізував авіасполучення над Європою). 
                
                Після перших водоспадів під час нашого автомобільного туру по Ісландії ми заїдемо до арочного мису Дірхолаей, який розташувався на мальовничому чорному пляжі з вулканічного піску. У морі вже будуть виднітися скелі-кораблі, які ми сьогодні ще побачимо в іншому ракурсі. 
                
                Черговим пунктом сьогоднішньої програми буде чорний пляж в містечку Вік і химерні пташки тупики, які гніздяться на прибережних скелях. Звідси будуть добре видні вже знайомі скелі-кораблі, які за легендою колись були тролями, але вчасно не встигли сховатися від сонця в тіні і скам'яніли. 
                
                З Віка ми вирушимо далі на схід, намотуючи кілометраж по двосмуговому «автобаны», який оперізує Ісландію. 
                
                Чергова точка на маршруті - Скафтафель, де ми залишимо теплі машини і підемо познайомитися з найбільшим льодовиком Європи - Ватнайокудль. Попутно подивимося на парочку водоспадів і прогуляємося по оглядовій стежці. 
                
                Плани на вечір багато в чому будуть залежати від часу і погоди, так що якщо з погодою пощастить, ми вирушимо далі до льодовикової лагуни, а якщо ясна погода буде вже завтра, сьогодні заночуємо в затишному кемпінгу біля підніжжя ісландських гір.
                
                
              </p>
              <h2 class="blockh1">День 3</h2>
              <p class="block-p">Довжина маршруту 610 км, ↑ 0 м, ↓0 м 
                Якщо буде хороша погода, сьогодні вас чекає найзахопливіше видовище у вашому житті - Льодовикова лагуна Йокульсаурлон. Це саме те місце, де величезний льодовик Ватнайокудль повільно сповзає в воду, періодично відправляючи у вільне плавання брили льоду. 
                
                По лагуні плавають морські котики і екскурсійні кораблики, а сама вода в лагуні має незвичайне бірюзове забарвлення і солонуватий присмак через припливи і відливи, які періодично приганяють сюди воду з сусіднього океану. 
                
                Попереду нас чекає знайомство зі східним узбережжям Ісландії, після чого ми повернемо на північ і почнемо огинати дугу навколо Ісландії. Ця ділянка маршруту не перевантажена пам'ятками, але за вікном будуть пропливати неймовірні пейзажі Ісландії, які все більше будуть нагадувати Марс. 
                
                У другій половині дня ми звернемо з траси до найбільшого водоспаду Європи - Деттіфосс. Його складно описати словами і передати його міць за допомогою фотографій, його потрібно просто побачити. Це дивовижне місце, де в повній мірі відчуваєш неймовірну силу природи і її масштаби. 
                
                Зовсім поруч буде не менш красивий водоспад Сельфосс, який в чомусь навіть перевершує Деттіфосс по красі. Ця невелика прогулянка нагадає нам, що ми знаходимося в одному з найдивовижніших місць нашої планети, яка ще порадує нас своїми красотами. 
                
                Попереду залишиться зовсім небагато, і ось ми вже розбиваємо табір на березі чарівного озера Миватн і згадуємо за вечерею всі події насиченого дня, за який ми встигли перебратися з південної частини Ісландії практично на саму північ.
                
                </p>
                <h2 class="blockh1">День 4</h2>
                <p class="block-p">Довжина маршруту 110 км, ↑ 150 м, ↓150 м 
                  Майже весь день пройде в околицях озера Миватн, де знаходиться одна з найактивніших геотермальних зон Ісландії і місцевість не втомлюється нагадувати, що ми знаходимося на острові вулканічного походження. 
                  
                  Насамперед ми вирушимо до кратера вулкана, на дні якого знаходиться озеро Віті. Тут же поруч знаходиться найбільша геотермальна електростанція Ісландії (виробляє електрику з енергії вулкана) і величезна кальдера вулкана Крафла. 
                  
                  Після Крафла переберемося ближче до озера Миватн, де знаходиться печера Гротагья, заповнена теплою водою. Купатися тут вже не дозволяють, так що обмежимося оглядом і переберемося до кратера Хверфьял, який вивергався всього якихось пару тисяч років тому. Це дуже атмосферне місце, де можна гуляти не одну годину, але у нас насичена програма і ми вирушимо далі до лавовим утворенням Діммуборгір. 
                  
                  Діммуборгір для ісландців особливе місце, де за легендами мешкають ельфи і тролі, а також знаходиться вхід в потойбічний світ. Трохи погулявши по Діммуборгіру ми вирушимо далі, до геотермальної зони Хверір. Саме тут відчувається подих вулкана, який не дуже приємно пахне :) 
                  
                  Грязьові вулкани, димлячі фумароли і різнокольорові породи будуть із задоволенням позувати нам, поки ми будемо вивчати аспекти вулканічної діяльності. Тут під ногами відчуваєш живий вулкан, який тимчасово відпочиває і готовий в будь-який момент нагадати про свою руйнівну силу. 
                  
                  Наступний пункт програми нашого автомобільного туру по Ісландії - Блакитна лагуна Північної Ісландії, де можна буде поплавати в теплій воді і зняти втому після намотаних кілометрів. Після відвідин лагуни захочеться спати, так що з останніх сил ми доберемося до північного містечка Хусавік, звідки стартує Китове сафарі. Але спостереження за китами залишимо на завтра, а сьогодні ми повечеряємо і вирушимо відпочивати.
                  
                  </p>
                  <h2 class="blockh1">День 5</h2>
                  <p class="block-p">Довжина маршруту 370 км, ↑ 0 м, ↓0 м 
                    Прокинемося рано, щоб встигнути зібратися і бути готовими до знайомства з підводними гігантами. Китове сафарі займе пару годин і дозволить побачити граціозних морських тварин, які мешкають біля берегів Ісландії. Якщо пощастить, і кити НЕ будуть сором'язливими, можна буде побачити, як кілька десятків тонн плоті злітають над водою і провалюються в глибини океану. 
                    
                    Попрощавшись з китами і Хусавік, ми вирушимо далі, поступово зміщуючись на захід. По дорозі відвідаємо водоспад Годафосс і північну столицю Ісландії - Акюрейрі. Невеликий переїзд через гори і до західного узбережжя Ісландії буде рукою подати. 
                    
                    Якщо буде час і бажання, зможемо відвідати кілька позапланових пам'яток, після чого, нарешті, доберемося до ще однієї знакової пам'ятки Ісландії - скелі Хвітсеркур, яка схожа на слона. Тут же поруч буде лежбище морських котиків, до якого ми прогуляємося по березі затоки. 
                    
                    На сьогодні нам залишиться ще один ривок, під час якого ми обігнемо півострів Ватнснес і доберемося до кемпінгу на березі океану. За вечерею поділимося враженнями і згадаємо всі події минулого дня. А якщо пощастить, вночі можна буде побачити північне сяйво (правда для цього погода повинна бути ясною).
                    
                    </p>
                    <h2 class="blockh1">День 6</h2>
                    <p class="block-p">Довжина маршруту 480 км, ↑ 100 м, ↓100 м 
                      Наш автотур по Ісландії виходить на фінішну пряму і сьогодні ми познайомимося з ще однією знаковою пам'яткою Ісландії - горою Кіркьюфель. Ця конусоподібна вершина часто зустрічається на фотографіях, адже вона виглядає дуже мальовничо, особливо в променях заходу. 
                      
                      В Ісландії трохи більше 300 тис. населення (в Рейк'явіку близько 120 тис.) і велика частина населених пунктів Ісландії невеликі. Можливо, саме це зумовило неспішний ритм життя, який сьогодні нас буде приємно дивувати, адже населених пунктів буде ставати все більше. 
                      
                      Ще один переїзд і ми опинимося біля західного краю Ісландії, де відвідаємо печеру Ватншелір і помилуємося кам'яною аркою Гатклеттур на березі океану. Поруч буде найзахідніший льодовик Ісландії - Снефельсйокуль, який прикриває собою однойменний вулкан. До цього моменту ми вже станемо початківцями вулканології, принаймні почнемо впізнавати вулкани з першого погляду :) 
                      
                      Попереду залишиться шлях до місця ночівлі в містечку Акранес, куди ми попрямуємо після пішої екскурсії в каньйон Родфельдар. Якщо будуть сили, постараємося проїхати ще трохи і заночувати в містечку Хверагерди.</p>
                      <h2 class="blockh1">День 7</h2>
                      <p class="block-p">Довжина маршруту 280 км, ↑ 50 м, ↓50 м 
                        Останній повноцінний день автомобільного туру по Ісландії, під час якого ми познайомимося з пам'ятками Золотого кільця Ісландії. Так названа одна з найпопулярніших екскурсій, яка охоплює Національний парк Тінгвелір (знаходиться на стику тектонічних плит), каскадний водоспад Гюльфосс і звичайно ж долину гейзерів. 
                        
                        І якщо тектонічні плити і водоспад Гюльфосс можуть не справити належного враження (після всього побаченого нами за останні дні), то гейзери це щось особливе. Найвідоміший гейзер Ісландії (та й усього світу) за назвою Гейсир (він і дав назву цьому чуду природи) вивергається вкрай рідко, а ось сусідній гейзер Строккюр регулярно радує своїх відвідувачів. 
                        
                        Вивчивши всі пам'ятки Золотого кільця, ми відправимося в згадане раніше містечко Хверагерди, яке вважають столицею термальних джерел Ісландії. Тут нас чекає прогулянка в гори, куди ми візьмемо купальники та рушники. Саме ці речі нам обов'язково знадобляться, адже нас чекає знайомство зі справжньою термальною річкою. 
                        
                        Після подоланих кілометрів немає нічого кращого, ніж лежати в теплій (а іноді і гарячій воді), яку нагріває сусідній вулкан. На цій мажорній ноті і закінчується наше знайомство з дивовижною Ісландією. 
                        
                        Далі ми повернемося в Рейк'явік, попрощаємося з уже рідними машинами і влаштуємо святкову вечерю в кемпінгу. Для багатьох це буде остання ніч в Ісландії.</p>
                        <h2 class="blockh1">День 8</h2>
                        <p class="block-p">День відльоту буде трохи сумним, адже ми вже звикнемо до прохолодного клімату Ісландії і її безкрайніх просторів. Ми вже почнемо розуміти ісландські топоніми, навчимося передбачати ісландську погоду і наробимо фотографій кошлатих ісландських коней і пухнастих овечок. 

                          Ці 8 днів пролетять майже непомітно, хоча буде здаватися, що пройшло мінімум 2 тижні, а то й місяць. І, можливо, ви ще повернетеся до Ісландії, яка вміє закохувати в себе мандрівників. 
                          
                          До нових зустрічей і нових пригод! 
                          
                          Інструктор може вносити зміни в маршрут в залежності від погоди, фізичного стану учасників та інших факторів.</p>
                          <h1 class="blockh1">Ціна туру - 950$</h1>
       </div>
    </main>
