<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="height=device-height,width=600,user-scalable=yes">
  <title>J-Travel</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}" rel = "stylesheet"/>
</head>

<body>
    <main> <!--Main DIV-->
        <header>
            <h1>J-Travel</h1>
            <a id = "btn1"class="btn btn-primary btn-lg" href="main.html" role="button">Повернутись на головну</a>
            <a id = "btn2"class="btn btn-secondary btn-lg" href="about.html" role="button">Про нас</a>
        </header>
        <div id="block1">
            <h1 id="block1h1">Наші подорожі</h1>
            <ul>
                <li><a href="iceland.html" class="block1a">Ісландія</a></li>
                <li><a href="nepal.html" class="block1a">Непал</a></li>
                <li><a href="#" class="block1a">Патагонія</a></li>
                <li><a href="#" class="block1a">Чилі+Бразилія</a></li>
                <li><a href="#" class="block1a">Лофотени+Свальбард</a></li>
                <li><a href="#" class="block1a">Швейцарія</a></li>
                <li><a href="#" class="block1a">Норвегія</a></li>
                <li><a href="#" class="block1a">Океанський тур</a></li>
                <li><a href="#" class="block1a">Китай</a></li>
                <li><a href="#" class="block1a">Індія</a></li>
                <li><a href="#" class="block1a">Киргизтан</a></li>
                <li><a href="#" class="block1a">Пакистан+Іран</a></li>
            </ul>
        
        </div>
        <div id="block2">
           <h1 class="blockh1">Ісландія</h1>
           <p class="block-p">Автомобільний тур по Ісландії - це відмінна можливість за 8 днів познайомитися з цією дивовижною країною і найбільшим островом вулканічного походження. Вас чекають нетерплячі гейзери і галасливі водоспади, безкраї льодовики і сплячі вулкани, морські котики і величезні кити, милі тупики та ще багато всього цікавого. 

            Автотур по Ісландії відмінно підійде тим, хто не хоче (або не може) подорожувати з рюкзаком, у кого немає можливості брати тривалу відпустку, але є бажання побачити величезну кількість пам'яток Ісландії. 
            
            Ми проїдемо близько 2000 км за таким маршрутом...</p>
            <a id = "block2btn1" class="btn btn-primary" href="iceland.html" role="button">Читати далі...</a>
        </div>
        <div id="block2-1">
            <h1 class="blockh1">Непал</h1>
            <p class="block-p">Трекінг до Евересту - це неймовірна подорож до підніжжя найвищої гори нашої планети. Ви познайомитеся з незвичайною природою Непалу і зміните кілька кліматичних поясів за час трекінгу до Евересту, побуваєте в столиці високогірного народу шерпів
                Під час трекінгу в Непалі вас чекають стародавні храми, самобутня культура і безліч відкриттів, які допоможуть вам пізнати світ і себе. Величні Гімалаї ви запам'ятаєте надовго, а в дивовижний Непал обов'язково захочете повернутися ще раз, адже в цю країну і в її гори легко закохатися, і ця любов на все життя...</p>
             <a id = "block2btn2" class="btn btn-primary" href="nepal.html" role="button">Читати далі...</a>
        </div>
        <div id="block3">

        </div>
       <div id="block4">

       </div>
       <div id="block5">

       </div>
       <div id="block6">

      </div>
      <footer id="footer">
          <div id = "contacts">
              <h3 class="footerh3">Контакти</h3>
              <p>Наш інстаграм - @jtravel</p>
              <p>Наш фейсбук - @jtavel2022</p>
              <p>Номер телефону - 0683899312(Ірина)</p>
              <p>Номер телефону №2 - 0975678721(Богдан)</p>
          </div>
          <div id="work">
              <h3 class="footerh3">Співпраця</h3>
              <p>Робочий email - jtravel.work@gmail.com</p>
              <p>Робочий номер - 0967388212(Аня)</p>
              <p>Робочий інстаграм - @jtravel.work</p>
          </div>
      </footer>
    </main>
</body>
